This project uses `uv` as package manager. 

Before running scripts check if the .venv is activated and if not, activate it: `source .venv/bin/activate`

When installing new packages use: 

`uv add <package_name>`

When removing packages use:

`uv remove <package_name>`

This projct is a called `AutoMagik`, and it has multiple CLI commands, check `automagik --help` for more information

NEVER make tests pass just by making changes to the code. 

When unclear ask clarifying questions.